/*FUENTES*/
@font-face {
		font-family:"Regular";
		src:url("Fuentes/Cabin-Regular.ttf")

}
@font-face {
		font-family:"Cuerpo";
		src:url("Fuentes/Muli-Regular.ttf")

}
@font-face {
		font-family:"Foot";
src:url("Fuentes/Comfortaa-Regular.ttf")
}


@font-face {
		font-family:"Portada";
src:url("Fuentes/PermanentMarker-Regular.ttf")
}

@font-face {
		font-family:"Titulo";
		src:url("Fuentes/AmaticSC-Bold.ttf")

}


/* FOTOGRAFIAS*/

#fotoprincipal { /* Foto principal de la portada*/
		background-image: url("Imagenes/Pagina%20principal.JPG");
		min-height: 700px;
		 margin-top: 7%;

		/* Efecto parallex de la foto de portada */
	background-attachment: fixed; /* Imagen fija */
	background-position: center; /* Posisicion centrada */
	background-repeat: no-repeat; /*Solo una imagen */
	background-size: cover; /* Escala la imagen a su maximo tamaño */
	margin-left: -10px;
	padding-top: 20%;
	padding-left: 18%;
	/*Animacion para que el titulo se desplaza de arriba a abajo*/
		animation: margen 5s;
}

#AsturiasParaiso { /*Foto sensible del principado de Asturias*/
		width: 250px;
		height: 300px;

		/*Para centrar la imagen*/
		margin-left: auto;
		margin-right: auto;
		display: block;

		margin-top: 5%;

}

		#metro { /*Foto sensible a Tallas de peces*/

				/* Para centrar la imagen de medidas */
		margin-left: auto;
		margin-right: auto;
		display: block;

		margin-top: 5%;
		width: 223px;
		height: 223px;
}

#eltiempo{ /* Foto sensible a EL tiempo*/
		/*Centrado de la imagen de tiempo*/
		margin-left: auto;
		margin-right: auto;
		display: block;

		margin-top: 5%;
		width: 300px;
		height: 200px;
}

#tienda { /*foto sensible a mapa de tiendas*/
	/*Centrado de la imagen de tienda*/
		 margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 5%;
		width: 250px;
		height: 200px;

}
		/* PARALLEX */
		/*El parallex es para dejar una imagen fija despues de un scroll*/


#parallex { /*Pararellex de la primera foto*/
	background-image: url("Imagenes/Pagina%20principal.JPG");
	min-height: 700px;
	margin-top: 1%;
	background-attachment: fixed; /* Para fijar la foto de manera fija */
	background-position: center; /*Para centrar la foto*/
	background-repeat: no-repeat; /* Para que solo salga una foto*/
	background-size: cover; /*Para poner la imagen a su maximo tamaño*/
	margin-left: -10px;

}


#parallex2{/*Pararellex de la segunda foto*/

	background-image: url("Imagenes/Parallax2.jpg");
	min-height: 700px;

	margin-top: -10%;
	background-attachment: fixed; /* Para fijar la foto de manera fija */
	background-position: center; /*Para centrar la foto*/
	background-repeat: no-repeat; /* Para que solo salga una foto*/
	background-size: cover; /*Para poner la imagen a su maximo tamaño*/
	margin-left: -10px;

}

#parallex3{/*Pararellex de la tercera foto*/

	background-image: url("Imagenes/Parallax3.jpg");
	min-height: 700px;
	margin-top: -1%;
	background-attachment: fixed; /* Para fijar la foto de manera fija */
	background-position: center; /*Para centrar la foto*/
	background-repeat: no-repeat; /* Para que solo salga una foto*/
	background-size: cover; /*Para poner la imagen a su maximo tamaño*/
	margin-left: -10px;

}

#parallex4{ /*Pararellex de la cuarta foto*/

	background-image: url("Imagenes/parallax4.jpg");
	min-height: 700px;
	margin-top: -1%;
	background-attachment: fixed; /* Para fijar la foto de manera fija */
	background-position: center; /*Para centrar la foto*/
	background-repeat: no-repeat; /*Para poner la imagen a su maximo tamaño*/
	background-size: cover; /*Para poner la imagen a su maximo tamaño*/
	margin-left: -10px;

}



/* CUERPO DE LA PAGINA*/

/*Es es primer fondo la foto de mar va en un div*/
#fondo {background-image: url(Imagenes/imagen_de_fondo.jpeg);
				background-size:cover; /*Para poner la imagen a su maximo tamaño*/
				display: inline-block; /*Para que ocupe todo el ancho de la pantalla*/
				background-attachment: fixed; /* Para fijar la foto de manera fija */
				margin-top: -3.4%;
				margin-left: -1%;
				margin-right: 0%;

				}

/* Segunda caja donde va el texto va dentro de la caja fondo*/
#cajatexto {
				background-color: #FFFFFF;
				margin-left: 3%;
				margin-right: 3%;
				margin-top: 3%;
				padding-left: 15%;
				padding-right: 15%;
				padding-top: 3%;
				padding-bottom:3%;
				margin-bottom: 3%;
				text-align: justify;
				font-family: Cuerpo;
				font-size: 1.3em; /*Tamaño de fuente*/
				box-shadow: 5px 5px 25px #888686 inset; /*Sombra interior*/
}

 /* Para los titutos de la caja de texto*/
#cajatexto h2 { color: #00AAFF;

}

/* Fondo para los textos de pagina de tallas de peces, el tiempo y tiendas de pesca*/
#fondo2 {
				background-image: url(Imagenes/imagen_de_fondo.jpeg);
				background-size:cover; /*Para poner la imagen a su maximo tamaño*/
				display: inline-block; /*Para que ocupe todo el ancho de la pantalla*/
			 /* overflow: scroll; */
				background-attachment: fixed;
				margin-top: 0%;
				margin-left: -1%;
				margin-right: 0%;


				}

/* La caja de texto para las pagians tallas de peces, el tiempo y tiendas de pesca */
#cajatexto2 {
				background-color: #FFFFFF; /*Fondo blanco*/
				margin-left: 3%;
				margin-right: 3%;
				margin-top: 3%;
				padding-left: 15%;
				padding-right: 15%;
				padding-top: 3%;
				padding-bottom:3%;
				margin-bottom: 3%;
				text-align: justify;
				font-family: Cuerpo;
				font-size:1.3em;
				box-shadow: 5px 5px 25px #888686 inset;
}

/*Titulo de la caja de texto*/
#cajatexto2 h2 { color: #00AAFF;

}

/*PIE DE PAGIANA*/

#foot { /*Estilo de la etiqueta foot*/
		width: 80%;
		height: 200px;
		background-color: #6B6B6B;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 1%;
}

/*Estilo del texto del footer*/
#nombre {
				float: left;
				font-family: foot;
}

#contacto {
		float:left;
		margin-left: 50%;
		font-family: foot;
}

#nombre h2{
		color: #8DCDF2;
}

#contacto h2{
		color:#8DCDF2;
}


/* MENU */


/* El titulo del encabezado de la pagina*/
#titulo {color: #0865EC;
		font-family: Titulo;
		text-shadow:
	 -1px -1px 0 #fff;
		letter-spacing:12px;
		animation: bounce 5s infinite;

}



/*Cuadro del menú*/
#cabezera {
				background-color: white;
				background-size: cover; /*Extender la imagen al completo*/
				width: 110%;
				height: 20%;
				display: block; /*bloquear para que no afecte a ningun elemento del html*/
				position:fixed; /*Fijar el cuadro arriba para que no se mueva al hacer scroll*/
				margin-left: -3%;
				margin-right: -3%;
				margin-top:-7%;
				float: left;
				box-shadow: 5px 5px 25px #C0C2C3; /*Sombra para dar volumen a la caja del menu*/


				}
 /* enlaces <a></a> para quitar el formato quq viene por defecto*/
#enlaces { text-decoration: none;
						color:#00AAFF;
						letter-spacing: 3px; /*Espacio por letras*/

				}
/*Logo de la empresa*/
#imagen {float: left;

				}
/*Listas para el menu*/
#listas li{list-style-type: none; /*Sin estilo de formato prederteminado para las listas*/
		padding: 5px;
		border: solid 0px #06ACF9;
		float: left; /*Flota a la derecha para que salga el menu en linea*/
		background-color: #C0C2C3;
		opacity: 0.8;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		margin-top: 0.9%;
		font-size: 1.3em;
		font-family: Regular;
		box-shadow: 3px 3px 25px #64C2FF inset; /*Sombra interior*/
		box-shadow: 2px 2px 25px #64C2FF;/*Sombra exterior*/
}

/*boton de login */
#login {list-style-type: none; /*boton sin estilo de lista predeterminado*/
		padding: 5px;
		border: solid 0px #06ACF9;
		float: left;
		background-color: #8DCDF2;
		opacity: 0.8;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		margin-top: 0.9%;
		margin-left: 5%;
		font-size: 1em;
		font-family: Regular;
		box-shadow: 2px 2px 25px #0090ED inset; /*Sombra interior*/

}
/*Boton de registro*/
#registro {list-style-type: none; /*boton sin estilo de lista predeterminado*/
		padding: 5px;
		border: solid 0px #06ACF9;
		float: left;
		background-color: #9EF28D;
		opacity: 0.8;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		margin-top: 0.9%;
		font-size: 1em; /*Tamaño de letras*/
		font-family: Regular;
		box-shadow: 2px 2px 25px #00B80E inset; /*Sombra interior*/

}



/* HOVER DE MENU*/

/*al pasar la flexha del raton por encima de los botones de menú que van en la lista*/
#listas li:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;
}
/*al pasar la flecha del raton por encima de los botones de la etiqueta <a></a>*/
		#enlaces:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;
}
/*Hover al pasar con el raton por encima del cuadro*/
#cabezera:hover{background-color: white;

}
/*Hover al pasar con el raton por encima del boton login*/
#login:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;

	}
/*Hover al pasar con el raton por encima del registro*/
#registro:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;
}



/*BOTONES DE PAGINA*/
/* boton para ir al pagina de tallas a final del texto  */
#botontalla {
		text-decoration: none; /*  sin estilo predeterminado por las etiquetas <a></a>*/
		font-family: Regular;/* Estilo de la fuente */
		font-size: 20px;
		background-color: #C0C2C3;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		color:#00AAFF; /* color de la letra */
		letter-spacing: 3px;/* Espacio entre letras */
		margin-left: 35%;
		box-shadow: 3px 3px 25px #64C2FF inset;
		box-shadow: 2px 2px 25px #64C2FF;
}
/* su hover que al pasar por encima el raton se vea como cambia de color */
#botontalla:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;
}
/* boton que nos dirige a la pagian el tiempo despues despues d el texto */
#botontalla2 {
		text-decoration: none;
		font-family: Regular;
		font-size: 20px;
		background-color: #C0C2C3;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		color:#00AAFF;
		letter-spacing: 3px;
		margin-left: 42%;
		box-shadow: 3px 3px 25px #64C2FF inset;
		box-shadow: 2px 2px 25px #64C2FF;
}

/* Esto es el hover al pasr el boton por encima cambia de color */
#botontalla2:hover{ color: black;
								text-decoration: underline black; /*Subrayado en el hover*/
								background-color: #00AAFF;
}

/* Boton para ir  */
#tienda2 {
		text-decoration: none;
		font-family: Regular;
		font-size: 20px;
		background-color: #C0C2C3;
		padding-left: 1.5%;
		padding-right:1.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		color:#00AAFF;
		letter-spacing: 3px;
		margin-left: 37%;
		box-shadow: 3px 3px 25px #64C2FF inset;
		box-shadow: 2px 2px 25px #64C2FF;
}

#tienda2:hover{ color: black;
								text-decoration: underline black;
								background-color: #00AAFF;
}

/*Estilo del texto de la portada*/
#botonabajo  {  font-size: 4em;
								font-family: Portada;
								color: white;
								animation: textoportada 4s;


}


/* Animaciones */
@keyframes textoportada{
0%
		{opacity: 0;
		}
100%
		{opacity: 1;
		}

}

@keyframes margen{
		0% {padding-top: 1%;}

		100% {padding-top: 20%; }
}

@keyframes bounce {
	from,
	20%,
	53%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}


}




